{% extends "base.html" %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, amet animi consectetur corporis dolore eos est facere hic iste, iure modi nemo, perferendis
  possimus rerum saepe ullam veritatis vitae voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda dolor dolorem eaque eius ex, facilis fuga inventore maxime minima neque nostrum
  placeat rem sed tempora tempore unde vel voluptates!</p>
{% endblock %}
